/*CSS Names and values
mw - min-width, mw1 = min-width:100px, mw12 = 120px
nv - navigatin elements
ct - container element
lx - links
mk - marker
mw - min-width
bd - border
bx - box
*/
// @font-face {
//   font-family: billion;
//   src: url("../fonts/BillionDreams.woff");
// }
@import url("https://use.typekit.net/efj4hgm.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,400,800&display=swap");

button:focus {
  outline: 0px;
}
.testing {
  background-color: #cecece;
  height: 350px;
  background-position: 50% 50%;
  background-size: cover;
}
.stick-0 {
  top: 0;
  height: 100%;
}

//Custom Widths
._mw1 {
  min-width: 100px;
}
._mw3 {
  min-width: 335px;
}
._mw4 {
  min-width: 400px;
}
.stick-1 {
  top: 6rem;
  height: 100%;
}
.stick-2 {
  top: 3rem;
  height: 100%;
}
.intercom-launcher-frame {
  margin-bottom: 65px;
}
.flex-item {
  flex-grow: 1;
}

.mw-700 {
  max-width: 700px;
}
.svg-btn-icon {
  height: 15px;
  margin-left: 0.5rem;
  margin-bottom: 0.125rem;
}
.stick-top {
  position: fixed;
  top: 0;
}
.lkb {
  color: #007bff !important;
}
.txt {
  color: #757575;
  color: #404040;
  color: #4683e9;
}
body {
  font-family: "Nunito", sans-serif !important;
  font-weight: 200 !important;
  font-size: 18px;
  overflow-x: hidden;
  // background: #ffffff;
}
.sn-mk {
  position: absolute;
  width: 3px;
  height: 45px;
  background: #46b2ff;
  left: 0px;
  top: 64px;
  transition-delay: 0.5;
}
.t-btn {
  display: inline-block;
  font-weight: 400;
  color: #404040;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 8px 15px rgba(100, 100, 100, 0.1);
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-cta {
  color: #404040;
  background-color: #fff;
}
.d-lx-mk {
  position: absolute;
  width: 3px;
  height: 45px;
  left: 0px;
  top: 64px;
}
.d-lx-mk:hover {
  background: #b0d5ff;
  transition-delay: 0.5;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: inherit;
}
a:hover {
  color: inherit;
}
.story-wrap {
  max-width: 1120px;
  margin: auto;
}
.bd-rad {
  border-radius: 0.5rem;
}
a {
  cursor: pointer;
}
p a {
  color: #46b2ff;
}
.soc-tools {
  max-width: 40px;
}
.mw265 {
  min-width: 250px;
  width: 250px;
  flex-basis: auto;
}

/*
.f-ct {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}*/
.mn-ct {
  /*flex: 0 0 80%;*/
  width: 100%;
  margin: auto;
}

.curs-point {
  cursor: pointer;
}
.t-items {
  top: 65px !important;
  overflow: scroll;
  height: 100vh;
}
.trends-wrap:hover {
  background: #f3f3f3d6;
}
.t-story-link:hover {
  text-decoration: none !important;
}
.show {
  display: block !important;
}
/*Story Post Styling and Adjustments*/
.s-head-adj {
  margin: 0.8rem !important;
}
.loc-txt {
  font-size: 0.85em;
  color: gray;
}
.bx-sdw {
  box-shadow: 0 8px 15px rgba(100, 100, 100, 0.1);
}
.card {
  line-height: 1.2 !important;
}

.s-cta {
  top: 80px;
  position: -webkit-sticky;
}
// Remove this
.main-content-wrap {
  margin: 0px;
  position: relative;
}

.nav * {
  color: #494f54 !important;
}

.sec-head {
  font: 400 24px/32px "Sans", Roboto, Arial, sans-serif;
  letter-spacing: normal;
}
#signupgraphic {
  background-image: url(/static/media/signuppic.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

/************ ~ Min Widths ~ ************/
.mw200 {
  min-width: 200px;
}
.mw300 {
  min-width: 300px;
}

.mw400 {
  min-width: 400px;
}

.mw500 {
  min-width: 500px;
}

.mw600 {
  min-width: 600px;
}

.ht10v {
  height: 100vh !important;
}
/************ ~ Bootstrap Resets ~ ************/
.form-control {
  font-weight: 200 !important;
}
.ovh {
  overflow: hidden;
}
/**************************
*                         *
*       Not needed!       *
*                         *
/*************************/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;
  display: flex;
  height: 52px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 8px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.__PrivateStripeElement {
  width: 100%;
  align-self: center;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

// .example.example1 {
//   background-color: #6772e5;
// }

// .example.example1 * {
//   font-family: Roboto, Open Sans, Segoe UI, sans-serif;
//   font-size: 16px;
//   font-weight: 500;
// }

// .example.example1 fieldset {
//   margin: 0 15px 20px;
//   padding: 0;
//   border-style: none;
//   background-color: #7795f8;
//   box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
//     inset 0 1px 0 #829fff;
//   border-radius: 4px;
// }

// .example.example1 .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   margin-left: 15px;
// }

// .example.example1 .row + .row {
//   border-top: 1px solid #819efc;
// }

// .example.example1 label {
//   width: 15%;
//   min-width: 70px;
//   padding: 11px 0;
//   color: #c4f0ff;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .example.example1 input, .example.example1 button {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   outline: none;
//   border-style: none;
// }

// .example.example1 input:-webkit-autofill {
//   -webkit-text-fill-color: #fce883;
//   transition: background-color 100000000s;
//   -webkit-animation: 1ms void-animation-out;
// }

// .example.example1 .StripeElement--webkit-autofill {
//   background: transparent !important;
// }

// .example.example1 .StripeElement {
//   width: 100%;
//   padding: 11px 15px 11px 0;
// }

// .example.example1 input {
//   width: 100%;
//   padding: 11px 15px 11px 0;
//   color: #fff;
//   background-color: transparent;
//   -webkit-animation: 1ms void-animation-out;
// }

// .example.example1 input::-webkit-input-placeholder {
//   color: #87bbfd;
// }

// .example.example1 input::-moz-placeholder {
//   color: #87bbfd;
// }

// .example.example1 input:-ms-input-placeholder {
//   color: #87bbfd;
// }

// .example.example1 button {
//   display: block;
//   width: calc(100% - 30px);
//   height: 40px;
//   margin: 40px 15px 0;
//   background-color: #f6a4eb;
//   box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
//     inset 0 1px 0 #ffb9f6;
//   border-radius: 4px;
//   color: #fff;
//   font-weight: 600;
//   cursor: pointer;
// }

// .example.example1 button:active {
//   background-color: #d782d9;
//   box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
//     inset 0 1px 0 #e298d8;
// }

// .example.example1 .error svg .base {
//   fill: #fff;
// }

// .example.example1 .error svg .glyph {
//   fill: #6772e5;
// }

// .example.example1 .error .message {
//   color: #fff;
// }

// .example.example1 .success .icon .border {
//   stroke: #87bbfd;
// }

// .example.example1 .success .icon .checkmark {
//   stroke: #fff;
// }

// .example.example1 .success .title {
//   color: #fff;
// }

// .example.example1 .success .message {
//   color: #9cdbff;
// }

// .example.example1 .success .reset path {
//   fill: #fff;
// }
